{% extends 'base.html' %}

{% block title %}Create Job Application{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold text-lime-400 mb-6">Create a Job Application</h2>

<form method="POST" class="space-y-6">
    <div class="space-y-4">
        <label for="company" class="block text-sm font-medium text-gray-600">Company</label>
        <input type="text" id="company" name="company" class="transition-all duration-300 w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-lime-500"  required>
    </div>

    <div class="space-y-4">
        <label for="position" class="block text-sm font-medium text-gray-600">Position</label>
        <input type="text" id="position" name="position" class="transition-all duration-300 w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-lime-500"  required>
    </div>

    <div class="space-y-4">
        <label for="location" class="block text-sm font-medium text-gray-600">Location</label>
        <input type="text" id="location" name="location" class="transition-all duration-300 w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-lime-500" required>
    </div>

    <div class="space-y-4">
        <label for="application_date" class="block text-sm font-medium text-gray-600">Application Date</label>
        <input type="date" id="application_date" name="application_date" class="transition-all duration-300 w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-lime-500" required>
    </div>

    <div class="space-y-4">
        <label for="status" class="block text-sm font-medium text-gray-600">Status</label>
        <select id="status" name="status" class="transition-all duration-300 w-full px-4 py-2 rounded-md bg-gray-800 border border-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-lime-500">
            <option value="Applied">Applied</option>
            <option value="Interviewing">Interviewing</option>
            <option value="Offered">Offered</option>
            <option value="Rejected">Rejected</option>
        </select>
    </div>

    <div class="space-y-4 ml-20">
        <button type="submit" class="px-6 py-3 bg-blue-600 text-white rounded-md">Submit</button>
    </div>
</form>
{% endblock %}
