<!-- Header -->
    <header class="bg-gray-800 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
            <h1 class="text-2xl font-bold text-white">Resu<i class="text-2xl font-bold text-lime-400">Ready~</i></h1>
            <nav>
                <a href="{{ url_for('main.home') }}" class="text-gray-300 hover:text-lime-400 px-3">Home</a>
                {% if current_user %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('user.dashboard') }}" class="text-gray-300 hover:text-lime-400 px-3">Dashboard</a>
                <a href="{{ url_for('resumes.dashboard') }}" class="text-gray-300 hover:text-lime-400 px-3">Resumes</a>
                <a href="{{ url_for('job_apps.dashboard') }}" class="text-gray-300 hover:text-lime-400 px-3">Applications</a>
                <a href="{{ url_for('interview.dashboard') }}" class="text-gray-300 hover:text-lime-400 px-3">Interview</a>
                <!--<a href="#" class="text-gray-300 hover:text-lime-400 px-3">Applications</a>
                <a href="#" class="text-gray-300 hover:text-lime-400 px-3">Interview</a>-->
                <a href="{{ url_for('auth.logout') }}" class="text-gray-300 hover:text-lime-400 px-3">Logout</a>
                {% else %}
                <a href="{{ url_for('main.about') }}" class="text-gray-300 hover:text-lime-400 px-3">About</a>
                <a href="{{ url_for('main.features') }}" class="text-gray-300 hover:text-lime-400 px-3">Features</a>
                <a href="{{ url_for('main.pricing') }}" class="text-gray-300 hover:text-lime-400 px-3">Pricing</a>
                <a href="{{ url_for('auth.login') }}" class="text-gray-300 hover:text-lime-400 px-3">Login</a>
                <a href="{{ url_for('auth.register') }}" class="text-gray-300 hover:text-lime-400 px-3">Get Started</a>
                {% endif %}
                {% endif %}

            </nav>
        </div>
    </header>